main {
    display: flex;
    justify-content: center;
}

main > form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

form > input {
    width: 100%;
    border-radius: 15px;
    padding: 10px 8px;
    margin: 6px 0;
}

form > input:focus {
    outline: none;
}

form > textarea {
    width: 100%;
    border-radius: 15px;
    padding: 10px 8px;
    margin: 12px 0;
}

form > textarea:focus {
    outline: none;
}

form > button {
    margin-left: auto;
    border-radius: 15px;
    padding: 6px 8px;
}
