header.nav {
    background-color: #003366;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 20vw;
}

.logo > a {
    text-decoration: none;
    margin: 0;
}

.logo > a > pre {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 6px;
    font-weight: 700;
    line-height: 90%;
}

nav {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003366;
}

nav > a {
    margin-top: 10px;
    text-decoration: none;
    font-weight: 900;
    color: white;
}

nav > form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.search-input {
    padding: 12px 8px;
    border-radius: 15px;
    margin-top: 30px;
    width: 80%;
}

.search-input:focus {
    outline: none;
}

.about {
    width: 100%;
    color: white;
    overflow-wrap: break-word;
}
