@()
<header class="nav">
    <section class="logo">
        <a href="/">
        <pre>
dP             dP            dP                   
88             88            88                   
88  .dP  .d888b88 88d8b.d8b. 88 .d8888b. .d8888b. 
88888"   88'  `88 88'`88'`88 88 88'  `88 88'  `88 
88  `8b. 88.  .88 88  88  88 88 88.  .88 88.  .88 
dP   `YP `88888P8 dP  dP  dP dP `88888P' `8888P88 
                                              .88 
                                          d8888P  
        </pre>
        </a>
    </section>
    <nav>
        <a href="/">What's new</a>
        <a href="/search?keywords=tech">Tech</a>
        <a href="/search?keywords=japan">Japan</a>
        <a href="/contact">Contact</a>
        <form method="get" action="/search" required>
            <input name="keywords" class="search-input" type="search" placeholder="Search posts.">
        </form>
    </nav>
    <p class="about">A blog about Japan and Programming.</p>
    <a id="github-link" href="https://github.com/kkdm"><img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png"></a>
</header>
